extends layout

block content
  .row
    .column
      .ui.form
        .field
          label(for!= 'url')!= 'URL you want to CORS:'
          input#url(type!= 'url', 'data-bind' != 'textInput: inurl')
        div
          span(style={display: 'block', 'font-weight': 'bold'})!= 'CORS this instead!'
          a('data-bind' != 'attr: {href: outfull}, visible: urlvalid', target != '_blank')
            span('data-bind' != 'text: outbase')
            span(style={'font-weight': 'bold'}, 'data-bind' != 'text: outencoded')
          .ui.negative.message('data-bind' != 'visible: !urlvalid()', style={display: 'none'})!= 'Invalid URL'
  .row

block scripts
  script(src!='https://cdnjs.cloudflare.com/ajax/libs/knockout/3.4.1/knockout-min.js')
  script(src!='/static/index.js', async)