doctype html
html
  head
    meta(charset = 'utf8')
    meta(name= 'language', content= 'en')
    meta(content= 'follow, index, all', name='robots')
    meta(name = 'viewport', content='width=device-width, initial-scale=1')
    title= title
    link(rel='stylesheet', href='/semantic.min.css')
    link(rel='shortcut icon' href= '/favicon.ico')
    block css
  body
    .ui.grid.container
      .row
        h1.column.ui.header= title
      block content
      footer.row
        small Hopefully this goes without saying, but don't use this proxy for anything dodgy. If you're a site admin
          |  investigating some suspicious traffic, note that the site owner is not necessarily the one responsible
          |  for them.
        small
          span= 'Grab your own CORS proxy service '
          a(href='https://github.com/Alorel/node-cors-server' target='_blank') here
          span= '.'
      block scripts